/*Header Style*/
header{
	height:auto;
	width:auto;
    display: inline-block;
	text-align:center;
    /* Tried image searching from the font to find correct font to match design
    but normal process would be to ask UX Designer 
    */ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header p {
    font-weight: normal;
	float:left;
	font-size:30px;
	text-decoration:none;
}
/* End Header Style*/
/*Body Styles*/
body{
    width:100%;
	margin: 0;
    padding: 10px;
}

#content{
	width:90%;
	z-index:0;
    padding-left:30px;
    padding-right: 30px;
}

/*Styles the list of products/items*/
.products{
    display: grid;                          /* Use grid type layout to get columns */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Proportions of the columns */
    gap: 0.5rem;   
}

.products:after {
    content: "";
    display: table;
    clear: both;
}

.item {
    border: 2px solid lightgray;
    padding: 0.5em;
    float: left;
    width: auto;
}

.product-image{
    width:auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.product-image >img {
   width: 100%;
   height: auto;
}

.item h3{
    margin-block-start: 0em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-decoration:none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.item br{
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
.item p{
	margin:0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-weight:normal;
	text-decoration:none;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wasPrice {
    color:rgba(255,31,31,255);
}

.reviewScore {
    color:rgba(0,102,0,255);  
}

.filterButton {
	text-decoration:none;
    font-weight: normal;
    font-size:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display:inline-block;
    border: 2px solid lightgray;
    background-color: white;
    color: black;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: auto;
}

.filterContainer {
    display: grid;                          /* Use grid type layout to get columns */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Proportions of the columns */
    gap: 0.5em;   
}

.filterContainer:after {
    content: "";
    display: table;
    clear: both;
}

.button{
	width:100%;
	background:rgba(255,102,0,255);
	border:0;
	padding:4%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
	font-size:100%;
	color:white;
	cursor:pointer;
	outline:none;
}
.button:hover{
	background:rgba(15,159,180,1);
	outline:none;
}

/* End Styles the list of products/items*/


@media(max-width:900px){
    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }
    
    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr; /* Proportions of the columns */
        gap: 0.5em;   
        /* margin-bottom: 2.5px; */
    
      }
}

@media(max-width:800px){
    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }

    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr ; /* Proportions of the columns */
        gap: 0.5em;   
        /* margin-bottom: 2.5px; */
    
    }
}

@media (max-width:500px){

    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }

    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 0.5em;   
        /* margin-bottom: 2.5px; */
    
    }

    .item {
        float: left;
        width: auto;
        /* width: 100%;    Use 100% of each column */
    }

    .product-image{
        /* display: flex; */
        width:300px;
        height:300px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .product-image >img {
        max-width: 100%;
        width: 400px;
    }

}

@media (max-width:250px){

    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }

    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 0.5em;   
        /* margin-bottom: 2.5px; */
    
    }

    .item {
        float: left;
        width: auto;
        /* width: 100%;    Use 100% of each column */
    }

    .product-image{
        /* display: flex; */
        width:200px;
        height:200px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .product-image >img {
        max-width: 100%;
        width: 400px;
    }
}
