/*Header Style*/
header{
	/* height:150px; */
	width:auto;
    display: inline-block;
	text-align:center;
}
header h1 {
	float:left;
	font-size:30px;
	text-decoration:none;
}
/* End Header Style*/
/*Body Styles*/
body{
    width:100%;
	margin: 0;
    padding: 10px;
}
#content{
	width:90%;
	z-index:0;
    padding-left:30px;
    padding-right: 30px;
}

/*End Popup Styles */
/*Styles the list of products/items*/
.products{
    display: grid;                          /* Use grid type layout to get columns */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Proportions of the columns */
    gap: 1rem;   
}

.products:after {
    content: "";
    display: table;
    clear: both;
  }
.item {
    border: 2px solid lightgray;
    padding: 0.25em;
    float: left;
    width: auto;
}
.product-image{
    /* display: flex; */
    width:auto;
    /* height:300px; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.product-image >img {
   width: 100%;
   height: auto;
}
.item p{
	margin:0;
	font-weight:bold;
	text-decoration:none;
    text-align: center;
}
.name{
    text-align: center;
}
.wasPrice {
    color:rgba(255,31,31,255);
    text-align: center;
}
.reviewScore {
    color:rgba(0,102,0,255);
    
}
.filterButton {
	text-decoration:none;
    text-size-adjust: 15px;
	display:inline-block;
    border: 2px solid lightgray;
    background-color: white;
    color: black;
    width: auto;
}

.filterContainer {
    display: grid;                          /* Use grid type layout to get columns */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Proportions of the columns */
    gap: 20px;   
    /* margin-bottom: 2.5px; */

  }
  .filterContainer:after {
    content: "";
    display: table;
    clear: both;
  }

.button{
	width:100%;
	background:rgba(255,102,0,255);
	border:0;
	padding:4%;
    margin-bottom: 0.5em;
	font-size:100%;
	color:white;
	cursor:pointer;
	outline:none;
}
.button:hover{
	background:rgba(15,159,180,1);
	outline:none;
}

/* End Styles the list of products/items*/

.priceHolder{
  
}

@media(max-width:900px){
    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }
    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr; /* Proportions of the columns */
        gap: 20px;   
        /* margin-bottom: 2.5px; */
    
      }
}

@media(max-width:800px){
    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }
    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr 1fr ; /* Proportions of the columns */
        gap: 20px;   
        /* margin-bottom: 2.5px; */
    
      }
}

@media (max-width:500px){

    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }
    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 20px;   
        /* margin-bottom: 2.5px; */
    
    }
    .item {
        float: left;
        width: auto;
        /* width: 100%;    Use 100% of each column */
    }

    .product-image{
        /* display: flex; */
        width:300px;
        height:300px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    .product-image >img {
        max-width: 100%;
        width: 400px;
     }

}

@media (max-width:250px){

    .products{
        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 1rem;   
    }
    .filterContainer {

        display: grid;                          /* Use grid type layout to get columns */
        grid-template-columns: 1fr; /* Proportions of the columns */
        gap: 20px;   
        /* margin-bottom: 2.5px; */
    
    }
    .item {
        float: left;
        width: auto;
        /* width: 100%;    Use 100% of each column */
    }

    .product-image{
        /* display: flex; */
        width:200px;
        height:200px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }
    .product-image >img {
        max-width: 100%;
        width: 400px;
     }

}
